.rules-layout {
  min-height: 100vh;
  background: #f0f2f5;
}

.rules-header {
  background: #ededed;
  padding: 0;
}

.rules-header-inner {
  padding: 0 24px;
  display: flex;
  align-items: center;
  height: 64px;
  justify-content: center;
}

.rules-content {
  padding: 24px 0;
  background: #eee;
}

.rules-card {
  background: #eee;

  .ant-card-head {
    border-radius: 0;
    background: #eee;
    background: var(--primary-color) !important;
  }

  .ant-card-body {
    background: #eee;
  }
}
.ant-typography {
  margin-bottom: 0 !important;
}

.rules-intro {
  margin-bottom: 24px;
}

.rules-section {
  margin-bottom: 24px;
}

.rules-item-text {
  margin-left: 8px;
}

.ant-list-item {
  padding: 16px 24px !important;
  justify-content: start !important;
  font-weight: 700;

}

.ant-collapse-item {
  border-bottom: 1px solid #f0f0f0;
}
