.card-purple {
  .color_0 {
    background-color: #ffe118;
    margin-bottom: 1px;
    color: #000;
  }
  .card-title {
    height: 40px;
    line-height: 40px;
  }
  .color_1 {
    background-color: #4463d8;
    margin-bottom: 1px;
    color: #000;
  }
  .color_2 {
    background-color: #f58231;
    margin-bottom: 1px;
    color: #000;
  }
  .color_3 {
    background-color: #911eb4;
    margin-bottom: 1px;
    color: #000;
  }
  .color_4 {
    background-color: #47f0f0;
    margin-bottom: 1px;
    color: #000;
  }
}

.border-title {
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  padding: 8px;
}
.border-userid {
  padding-left: 3px;
}

.card_0 {
  padding-left: 100px;
}
.card_1 {
  padding-left: 184px;
}
.card_2 {
  padding-left: 305px;
}
.card_3 {
  padding-left: 450px;
}
.card_4 {
  padding-left: 586px;
}
